//colors
$primary-color: rgba(4, 140, 168, 1);
$secondary-color: rgba(22, 219, 147, 1);
$accent: rgba(211, 24, 105, 1);
$white: rgb(255, 255, 255);
$dark: #444;

//text-colors

$text-primary: $primary-color;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $secondary-color;



//font-weights

$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;

