@use '../abstracts/colors';
.logo {
  // width: 25%;
  // min-width: 10rem;
  // max-width: 15rem;
}

header {
  // width: 100%;
  // position: relative;
  background: linear-gradient(to right, colors.$main, colors.$secondary);
  .container {
    // position: absolute;
    display: flex;
    justify-content: space-between;
    // position: absolute;
  }
}
