@use '../abstracts/colors';
@use '../abstracts/mixins';
.btn {
  padding: 1em 3em;
  background-color: colors.$accent;
  display: inline-block;
  @include mixins.responsive-font(1.5rem, 2rem);

  &:not(:last-of-type) {
    margin-block-end: 1rem;
    margin-inline-end: 1rem;
    @include mixins.responds(max, 460px) {
      margin-inline-end: 0rem;
    }
  }
}
