@use '../abstracts/colors';

.cta {
  background-color: colors.$secondary;
  p,
  h2,
  a {
    color: colors.$text-inverse;
  }

  background-image: url('../../img/call-to-action-background.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5rem;
}
