*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
button {
  all: unset;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea,
button,
select {
  // @include font();
  color: inherit;
  border: none;
  outline: none;
}

.container {
  max-width: 140rem;
  width: 90%;
  margin: 0 auto;
}
