@use '../abstracts/colors';
.cta {
  background-image: url('../../img/call-to-action-background.jpg');
  background-color: colors.$secondary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  color: colors.$text-inverse;
  padding: 3rem 5rem;

  h2{
    font-weight: 700;
    margin-block: 1rem;
  }

}
