@use '../abstracts/colors';
@use '../abstracts/mixins';
.hero {
  background: linear-gradient(to right, colors.$main, colors.$secondary);
  position: relative;
  height: 90vh;
  padding: 7rem 2rem;
  @include mixins.flex;
  h1 {
    font-size: clamp(4rem, 7vw, 5rem);
    font-weight: 300;
    span {
      font-weight: 600;
    }
  }
  p {
    margin-block-end: 2rem;
  }
  .btn:first-of-type {
    margin-inline-end: 1rem;
    margin-block-end: 1rem;
  }

  @media (min-width: 60em) {
    & {
      display: grid;
      grid-template-columns: 70fr 30fr;
      height: 95vh;
      .hero-textbox {
        // max-width: 100rem;
        // margin-inline: auto;
        // padding-inline: 20rem;
        // padding-inline: 16rem;
        padding: 5rem;
        p {
          margin-block-end: 6rem;
          padding-inline: 8rem;
        }
      }
      .hero-imgbox {
        background-image: url(../../img/phone.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        margin-bottom: -20rem;
      }
    }
  }
}
