@use '../abstracts/colors';
@use '../abstracts/mixins';
.promo {
  background-color: colors.$main;
  position: relative;
  margin-block-start: 12rem;
  padding-inline: 2rem;
  color: colors.$text-inverse;

  @media (min-width: 60em) {
    padding-inline-end: 0;
    @include mixins.grid(2);
    .promo-imgbox {
      background-image: url('../../img/phone-in-hand.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  }
}
.amazing {
  max-width: 100rem;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: colors.$accent;
  color: colors.$text-inverse;
  width: 90%;
  margin-inline: auto;
  padding: 1rem 2rem;
  p {
    // font-weight: 300;
    margin-block: 2rem;
  }
}
.promo-textbox {
  padding-block-start: 15rem;
  padding-block-end: 4rem;
  text-align: left;
  p {
    font-weight: 300;
    margin-block-end: 2rem;
  }

  @media (min-width: 60rem) {
    padding-inline-start: 5rem;
  }
}
