@use '../abstracts/mixins';
@use '../abstracts/colors';
.sales {
  padding: 4rem 2rem;
}
.features {
  @include mixins.grid(1);
  margin-block: 3rem;
  @media (min-width: 60em) {
    @include mixins.grid(3);
    margin-block: 5rem;
    max-width: 150rem;
    margin-inline: auto;
  }
}
.feature:not(:last-of-type) {
  margin-block-end: 2rem;
}
.feature {
  margin-inline: 2rem;
}
.feature-icon {
  color: #fff;
  background: linear-gradient(to right, colors.$main, colors.$secondary);
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50%;
}
